<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sourcey.cheriejw">

    <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> -->
    <!-- for coarse location for matches -->

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignupActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SliderUpdate"
            android:label="@string/title_activity_slider_update"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Homepage"
            android:label="@string/title_activity_homepage"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".RegisterSliders"
            android:label="@string/title_activity_register_sliders"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Matches"
            android:label="@string/title_activity_matches"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyProfile"
            android:label="@string/title_activity_my_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RangeBarTest"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterProfilePic"
            android:label="@string/title_activity_register_profile_pic"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
